<ion-view class="has-footer">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon icon back-button" ng-click="$ionicGoBack()"></button>
    <div class="h1 title">
      {{vm.title}}
    </div>
  </div>
  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-divider">
        <h2 class="library-name">
          {{vm.library.name}}
        </h2>
      </div>
      <div class="card-content">
        <div class="image-div" ng-if="vm.library.photo">
          <img ng-src="{{vm.library.photo}}" class="full-width-image"/>
        </div>

        <div class="item item-text-wrap">
          <div class="info" ng-if="vm.library.timeTable || vm.library.summerTimeTable">
            <div class="row time-table-title" ng-if="vm.library.timeTable">
              <strong>Horario:</strong>
            </div>
            <div class="row time-table">
              <p>
                {{vm.library.timeTable}}
              </p>
            </div>
            <div class="row time-table-title" ng-if="vm.library.summerTimeTable">
              <strong>Horario de verano:</strong>
            </div>
            <div class="row time-table">
              <p>
                {{vm.library.summerTimeTable}}
              </p>
            </div>
          </div>
          <div class="info">
            <div class="row address-title">
              <strong>Ubicación:</strong>
            </div>
            <div class="row address">
              <div class="col-80">
                <p>
                  {{vm.library.address}}, {{vm.library.postCode}}
                </p>
                <p>
                  {{vm.library.town}} ({{vm.library.province}})
                </p>
              </div>
              <div class="col-20 text-right">
                <a class="button button-icon icon ion-map positive" ng-click="vm.showLocation()" ng-if="vm.library.geolocation"></a>
              </div>
            </div>
          </div>
          <div class="info">
            <div class="row services-title">
              <strong>Servicios:</strong>
            </div>
            <div class="row services" ng-repeat="(service, serviceValue) in vm.library.services">
              <p>
                {{service}}: <i class="icon" ng-class="{ 'ion-checkmark': {{serviceValue}}, 'ion-close': {{!serviceValue}} }"></i>
              </p>
            </div>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" ng-href="mailto: {{vm.library.email}}" ng-if="vm.library.email">
              <i class="icon ion-email"></i> Enviar mensaje
            </a>
            <a class="tab-item" ng-href="tel: {{vm.library.phone}}" ng-if="vm.library.phone">
              <i class="icon ion-ios-telephone"></i> {{vm.library.phone}}
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="footer-margin">

    </div>
  </ion-content>
</ion-view>
